/*MEDIA*/
/*====================*/
/*MEDIA 1090px*/
/*====================*/
@media (max-width: 1090px) {

  .section {
    &--main {
      padding-bottom: 160px;
    }
  }

  .main {
    &__inner {
      -webkit-box-pack: center;
              -ms-flex-pack: center;
          justify-content: center;
    }

    &__content {
      max-width: 100%;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}

/*MEDIA 1060px*/
/*====================*/
@media (max-width: 1060px) {

  .wellcom {
    -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;

    &__content {
      margin-bottom: 30px;
    }
  }

  .delivary {
    -ms-flex-pack: distribute;
        justify-content: space-around;

    &__item {
      &:last-child {
        margin-top: 50px;
      }
    }
  }

  .footer {
  	&__wrap {
  		-ms-flex-wrap: wrap;
  		    flex-wrap: wrap;
  		-ms-flex-pack: distribute;
  		    justify-content: space-around;
  	}

  	&__introduction {
  		/* margin-right: 0;*/
  	}
  }
}

/*MEDIA 1000px*/
/*====================*/
@media (max-width: 1000px) {
	.event {
		&__info {
			-ms-flex-pack: distribute;
			    justify-content: space-around;

		    &--item:last-child {
		    	margin-top: 20px;
		    }
		}
	}
}

/*MEDIA 970px*/
/*====================*/
@media (max-width: 970px) {

  .section {
  	&--stuff {
  		padding-bottom: 100px;
  	}
  }

  .about {
    padding-bottom: 100px;

    &__content {
      max-width: 100%;
    }

    &__img {
      display: none;
    }
  }

  .event {
  	&__item {
  		margin-top: -150px;
  	}
  }

  .subscribe {
  	-ms-flex-wrap: wrap;
  	    flex-wrap: wrap;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;

    &__item {
    	&:last-child {
    		margin-right: 0;
    		margin-top: 20px;
    	}
    }
  }
}

/*MEDIA 920px*/
/*====================*/
@media (max-width: 920px) {

  .section {
    &--feature {
      padding-bottom: 80px;
    }

    &--delivary {
      padding: 100px 0;
    }

    &--main {
      padding: 100px 0;
    }

    &--feedback {
  		padding-top: 100px;
  		margin-top: 100px;
  	}

  	&--subscribe {
  		margin-top: 100px;
  	}

  	&--blog {
  		padding: 100px 0;
  	}

  	&--maps {
  		padding: 100px 0;
  	}

  	&--open {
  		padding-bottom: 90px;
  	}
  }

  .blog {
  		margin-top: 60px;
  	}

  	.maps {
  		margin-top: 60px;
  	}

  .header {
    &__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: end;
            -ms-flex-align: end;
        align-items: flex-end;
    }

    &__logo {
      top: 20%;
    }

    &__wellcom {
      padding-left: 0;
      margin-bottom: 10px;
    }

    &__input {
      margin-bottom: 10px;
    }

    &__content--info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              -ms-flex-direction: column;
          flex-direction: column;
      -webkit-box-align: end;
              -ms-flex-align: end;
          align-items: flex-end;
    }

    &__login {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .wellcom {
    padding: 80px 0 70px 0;
  }

  .about {
    padding-bottom: 70px;
  }

  .main {
    &__link--btn {
      margin-top: 40px;
    }
  }

  .feedback {
  	&__content {
  		padding: 40px;
  	}
  }
}

/*MEDIA 830px*/
/*====================*/
@media (max-width: 830px) {

  .header {
    min-height: 755px;
  }

  .nav__menu--top {
    padding: 0;
  }

  .nav__menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2000;

    padding: 10px 0;

    background-color: #ff392c;
  }

  .nav__link {
    margin-right: 0;
    margin-bottom: 17px;
    font-size: 17px;
  }

  .menu__show {
    display: none;
  }

  .burger {
  	margin-top: 25px;
    display: block;
  }

  .intro {
    z-index: 2;
    margin-top: 50px;

    &__btn {
      margin-bottom: 40px;
    }
  }

  .event {
  	&__title {
  		margin-top: 40px;
  	}

  	&__text--free {
  		width: 100%;
  		position: static;
  		margin: 15px auto 0;
  		-webkit-transform: rotate(0);
  		        transform: rotate(0);
  	}
  }

  .open {
  	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;

    &__hours {
    	margin-right: 0;
    	margin-bottom: 30px;
    }
  }
}

/*MEDIA 790px*/
/*====================*/
@media (max-width: 790px) {

	.footer {
		&__introduction {
			max-width: 100%;
			margin-right: 0;
			margin-top: 20px;
		}

		&__tag {
			max-width: 100%;
			text-align: center;
		}
	}
}

/*MEDIA 770px*/
/*====================*/
@media (max-width: 770px) {

  .section {
    &__header {
      font-size: 30px;
    }
  }

  .intro {
    &__subtitle {
      font-size: 25px;
    }

    &__title {
      font-size: 35px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .wellcom {
    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 22px;
    }
  }

  .feature {
    margin-top: 30px;
  }

  .about {
    &__content {
      margin-top: 30px;
    }
  }


}

/*MEDIA 750px*/
/*====================*/
@media (max-width: 750px) {

	.feedback {
		margin-top: 50px;

		&__inner {
			-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		}

		&__item {
			margin-right: 0;
		}

		&__img {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

/*MEDIA 730px*/
/*====================*/
@media (max-width: 730px) {

  .feature {
    &__content {
      margin-top: 12px;
      font-size: 17px;
    }
  }

  .slick__btn {
    width: 40px;
    height: 40px;
    font-size: 14px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .event {
  	&__info {
		&--item {
			margin-bottom: 30px;
		}

  		&--item:last-child {
			margin-top: 0;
			margin-bottom: 0;
  		}
  	}
  }

  .subscribe {
  	&__input {
  		padding: 12px 17px;
  		font-size: 16px;
  	}

  	&__button {
  		width: 75px;

  		&--icon {
  			font-size: 26px;
  		}
  	}
  }

  .open {
  	&__week {
  		font-size: 17px;
  	}

  	&__message--input {
  		font-size: 14px;
  	}
  }
}

/*MEDIA 710px*/
/*====================*/
@media (max-width: 710px) {

  .delivary {
    margin-top: 100px;

    &__item {
      margin-bottom: 40px;

      &:last-child {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

/*MEDIA 700px*/
/*====================*/
@media (max-width: 700px) {

  .section {
    &--feature {
      padding-bottom: 40px;
    }

    &--main {
      padding: 40px 0;
    }

    &--feedback {
  		padding: 50px 0;
  		margin-top: 40px;
  	}

  	&--subscribe {
  		margin-top: 40px;
  		padding: 60px 0;
  	}

  	&--blog {
  		padding: 60px 0;
  	}

  	&--maps {
  		padding: 40px 0;
  	}

  	&--open {
  		padding-bottom: 40px;
  	}
  }
  
  .wellcom {
    padding: 40px 0;

    &__text {
      margin-top: 20px;

      & > p {
        margin-bottom: 15px;
      }
    }

    &__after {
      margin-top: 20px;
    }

    &__form:after {
      position: inherit;
    }
  }

  .about {
    padding: 40px 0;
  }

  .main {
    margin-top: 50px;

    &__inner {
      margin-top: 40px;
    }

    &__menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              -ms-flex-direction: column;
          flex-direction: column;
      -webkit-box-align: center;
              -ms-flex-align: center;
          align-items: center;
    }

    &__link {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__link--btn {
      margin-top: 0;
    }
  }

  .stuff {
    margin-top: 50px;
  }

  .event {
	&:before {
		width: 60px;
		height: 60px;
	}

  	&__item {
  		margin-top: -20px;
  	}
  }

  .open {
  	&__week {
  		margin-top: 30px;
  	}
  }
}

/*MEDIA 570px*/
/*====================*/
@media (max-width: 570px) {

  .main {
    &__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              -ms-flex-direction: column;
          flex-direction: column;
      -webkit-box-align: center;
              -ms-flex-align: center;
          align-items: center;
      border: 2px solid #00c5d2;
      padding: 10px;
    }

    &__description {
      text-align: center;
      margin: 0;
    }

    &__cena {
      margin-top: 10px;
    }
  }

  .stuff {
    &:before, &:after {
      width: 0;
    }
  }

  .event {
  	&__content {
  		padding: 20px;
  	}

  	&__text {
  		margin-bottom: 30px;
  	}
  }

  .feedback {
  	&__icon {
  		font-size: 40px;
  	}
  }

  .subscribe {
  	&__form {
  		width: 100%;
  	}

  	&__button--icon {
  		right: 7%;
  	}
  }

  .maps {
  	&__item {
  		iframe {
  			height: 230px;
  		}
  	}
  }

  .open {
	&__week--title {
		margin-bottom: 28px;
	}

  	&__message--input {
  		height: 40px;
  		font-size: 11px;
  		margin-bottom: 15px;
  	}
  }
}

/*MEDIA 430px*/
/*====================*/
@media (max-width: 430px) {

  .btn {
    padding: 10px 15px;
  }

  .section {
    &__header {
      text-align: center;
    }

    &--delivary {
      padding: 50px 0;
    }
  }

  .header {

    &__top {
      -webkit-box-align: center;
              -ms-flex-align: center;
          align-items: center;
    }

    &__logo {
      position: inherit;
      left: 20px;
    }
  }

  .intro {
    &__subtitle {
      font-size: 20px;
    }

    &__title {
      font-size: 27px;
    }

    &__text {
      font-size: 12px;
    }

    &__btn {
      padding: 10px 15px;
    }
  }

  .wellcom {
    &__form--title:after {
      right: 50px;
    }

    &__form--title:before {
      left: 50px;
    }
  }

  .feature {
    &__img {
      width: 270px;
      height: auto;
    }
  }

  .about {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .delivary {
    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 12px;
    }

    &__img {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

  .main {
    &__content {
      margin-bottom: 20px;
    }
  }

  .event {
  	&__text--free {
  		font-size: 18px;
  	}

  	&__title {
  		font-size: 21px;
  	}

  	&__info--icon {
  		margin-right: 15px;
  	}
  }
	
	.feedback {
		&__text {
			margin: 15px 0;
		}
	}

	.subscribe {
		&__title {
			margin-bottom: 30px;
		}

		&__input {
			padding: 15px 10px;
			font-size: 15px; 
		}

		&__button {
			width: 61px;

			&--icon {
				font-size: 23px;
			}
		}
	}

	.open {
		&__week {
			font-size: 15px;
		}
	}
}

/*MEDIA 320px*/
/*====================*/
@media (max-width: 320px) {

  .intro__btn {
    font-size: 12px;
    margin-right: 0;
  	padding: 8px 20px;
  }
}
